* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: transparent;
    color: white;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15rem;
    padding-top: 1rem;
}

nav h1 {
    padding-top: 3px;
}

nav span {
    font-family: 'Metamorphous', serif;
    font-size: 39px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    behavior: smooth;
    transition-delay: .400s;
    text-decoration: underline;
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5rem;
    padding-top: 16px;

}

nav i {
    padding-top: 15px;
}

/* loader start */
.spinner {
    width: 40px;
    height: 40px;
    background-color: orangered;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    z-index: 10;
    background-color: black;
}

/* loader end */

.screen1 {
    width: 100%;
    height: 100vh;
    background-image: url(./pictures/satrship/Capture.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.screen1 .content {
    height: 5rem;
    width: 40rem;
    color: white;
    position: absolute;
    align-items: center;
    top: 30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content h2 {
    font-size: 36px;
    font-weight: 900;
    font: 100px/85px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: -6px;

}

.content p {
    background-color: white;
    color: black;
    padding: 4px;
}

.screen10 {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;

}

.child1 div {
    width: 40%;
}

.child1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13rem 3rem 0 7rem;
    gap: 9rem;
}

.child1 h2 {
    font-size: 36px;
    font-weight: 900;
    font: 35px/30px Archivo Black, Arial, Verdana, sans-serif;
}

.child2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5rem 7rem 0 7rem;
    gap: 2rem;
}

.child2 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;


}

.screen2 {
    width: 100%;
    height: 100vh;
    background-image: url(./pictures/starshield/Capture1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(50%);
    color: white;
}

.screen2 .text {
    position: absolute;
    right: 9rem;
    top: 50%;
    width: 40%;
}

.screen2 h2 {
    font-size: 36px;
    font-weight: 900;
    font: 30px/20px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}


.screen3 {
    width: 100%;
    height: 100vh;
    background-image: url(./pictures/starshield/Capture6.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(50%);
    color: white;
}

.screen3 .text {
    position: absolute;
    right: 9rem;
    top: 50%;
    width: 40%;
}

.screen3 h2 {
    font-size: 36px;
    font-weight: 900;
    font: 50px/20px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}


.screen4 {
    width: 100%;
    height: 100vh;
    background-image: url(./pictures/starshield/Capture8.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(50%);
    color: white;
}

.screen4 .text {
    position: absolute;
    right: 4rem;
    bottom: 20%;
    width: 43%;
    height: 15rem;
}

.screen4 h2 {
    font-size: 36px;
    font-weight: 200;
    font: 44px/38px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}


.screen5 {
    width: 100%;
    height: 100vh;
    background-image: url(./pictures/starshield/Capture.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(50%);
    color: white;
}

.screen5 .text {
    position: absolute;
    left: 4rem;
    bottom: 20%;
    width: 43%;
    height: 15rem;
}

.screen5 h2 {
    font-size: 36px;
    font-weight: 200;
    font: 44px/38px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}


.screen6 {
    width: 100%;
    height: 100vh;
    background-image: url(./pictures/starshield/Capture9.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.screen6 .text {
    position: absolute;
    right: 5rem;
    ;
    bottom: 25%;
    width: 35%;
    height: 15rem;
}

.screen6 h2 {
    font-size: 36px;
    font-weight: 200;
    font: 44px/38px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}


.screen7 {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 14rem;
    color: white;
}

#mm {
    width: 15rem;
    height: 10rem;
    border-left: 2px solid #fff;
    margin-left: 5rem;
    position: absolute;
    left: 45%;
    top: 19%;
}

.screen7 button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

.screen7 .button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.screen7 span {
    color: gray;
}

.screen7 h2 {
    position: absolute;
    top: 2rem;
}

.under {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.under a {
    text-decoration: none;
    color: white;
}