* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: transparent;
    color: white;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15rem;
}

nav h1 {
    padding-top: 3px;
}

nav span {
    font-family: 'Metamorphous', serif;
    font-size: 39px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    behavior: smooth;
    transition-delay: .400s;
    text-decoration: underline;
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5rem;
    padding-top: 16px;

}

nav i {
    padding-top: 15px;
}
/* loader start */
.spinner {
    width: 40px;
    height: 40px;
    background-color: orangered;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
  .loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    z-index: 10;
    background-color: black;
  }
/* loader end */

.screen1 {
    width: 100%;
    height: 100vh;
    background-image: url(./pictures/falcon/fh_feature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.screen1 .content {
    height: 5rem;
    width: 40rem;
    color: white;
    position: absolute;
    align-items: center;
    top: 30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content h2 {
    width: 45rem;
    font-size: 30px;
    font-weight: 900;
    font: 80px/85px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.screen1 .content p{
    background-color: white;
    color: black;
}

.screen2 {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
}

.screen2 h2 {
    font-size: 35px;
    font-weight: 400;
    font: 100px/85px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: -6px;
}

.screen2 p {
    font-size: large;
}

.screen2 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 1rem;
    align-items: center;
}

.screen3 {
    background-image: url(./pictures/WebsiteF9Fairings_Render_Desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.screen3 .part1,
.screen3 .part2 {
    margin-left: 6rem;
    margin-top: 3rem;
    width: 35%;
    color: white;
}

.screen3 .part2 div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen3 span {
    color: gray;
}
.screen8{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: black;
    color: white;
}
.screen8 .img{
width: 50%;
padding-left: 3rem;
}
.img img{
    width: 40rem;
    height: 100%;
}
.screen8 .contentt{
    width: 39%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.contentt p{
    background-color: white;
    color: black;
    display: inline-block;
    margin: 1px 1px .1px .5px;
    padding-right: 5px;
}
.contentt h2{
    
    font-size: 10px;
    font: 37px/40px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}
.screen4 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.screen4 img {
    width: 100%;
    height: 100vh;
}

.screen4 div {
    position: absolute;
    bottom: 7rem;
    left: 6rem;
    color: white;
}

.screen4 div h2 {
    font-size: 10px;
    font: 37px/20px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;

}

.screen5 {
    width: 100%;
    height: 108vh;
    background-image: url(./pictures/Merlin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.ss p,
h2 {
    padding: 0;
    margin: 0;
}

.ss h2 {
    font-size: 10px;
    font: 37px/20px Archivo Black, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.screen5 .part1,
.part2 {
    width: 50%;
}

.screen5 .part1 {
    height: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;


}

.screen5 .part2 div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.screen5 .part1,
.part2 {
    margin-left: 8rem;
    margin-top: 3rem;
    width: 35%;
    color: white;
}

.screen5 .part2 div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen5 span {
    color: gray;
}

.screen6 {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.screen6 img {
    width: 100%;
    height: 100vh;
}

/* Swiper css */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end swiper css */


.screen7 {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 14rem;
    color: white;
}

#mm {
    width: 15rem;
    height: 10rem;
    border-left: 2px solid #fff;
    margin-left: 5rem;
    position: absolute;
    left: 45%;
    top: 19%;
}

.screen7 button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

.screen7 .button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.screen7 span {
    color: gray;
}

.screen7 h2 {
    position: absolute;
    top: 2rem;
}

.under {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.under a{
    text-decoration: none;
    color: white;
}
